.css-aqpgxn-MuiFormLabel-root-MuiInputLabel-root,
.css-1c2i806-MuiFormLabel-root-MuiInputLabel-root
{
    left: inherit !important;
    right: 1.75rem !important;
    transform-origin: right !important;
}